{% extends "blog/base.html" %}

{% block contenido %}

  <h2 class="bg-light rounded ps-2">Por favor ingrese el email con el que se registró</h2>
  <br>
  <form action="" method="post">

  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
    <table class="my-3 mt-5 mb-5">
        <tr>
            <td>{{ form.email.label_tag }}</td>
            <td>{{ form.email }}</td>
        </tr>
    </table>
    <br>
    <input type="submit" class="btn btn-dark rounded-pill mb-2" value="Reiniciar contraseña">
    
  </form>

{% endblock %}