{% extends 'blog/base.html' %}

{% block contenido %}

    <h2 class="bg-light rounded ps-2">Registro de usuario</h2>
    <br>

    {% if form.errors %}
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    <form class="forms-group__form" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <br>
        <div class="forms-group__input-field">
            <label class="forms-group__label"></label><br>
            {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text }}</p>
            {% endif %}
        </div>
        {% endfor %}
        <br>
        <div class="alert alert-primary mb-0" role="alert">
          <i class="bi bi-info-circle-fill"></i>
          Te llegará un mensaje de confirmación al email que proporcionaste. Deberás seguir ese link para confirmar tu cuenta y poder loguearte.
        </div>
        <div class="forms-group__button-div">
            <input class="btn btn-dark rounded-pill my-5 forms-group__button" type="submit" value='Registrarse'>
        </div>
    </form>

{% endblock contenido %}