{% extends 'blog/base.html' %}
{% load static %}


{% block contenido %}

    <section>
        <h2>Eliminar Comentario</h2>
        <form method='post'>
            {% csrf_token %}

            <article class="card mx-auto mt-5">
                <section class="card-body">
                    <h5 class="card-title text-center alert alert-warning " role="alert">Proceso de borrado</h5>
                    <p class="card-text">¿Confirma que quiere borrar el comentario?</p>
                    <strong>{{ comentario.contenido }}</strong>

                    <section class="card-body d-flex flex-row justify-content-end gap-2">
                      <a class="btn btn-dark rounded-pill" href={% url 'apps.blog:inicio' %}>Cancelar</a>
                      <input class='btn btn-dark rounded-pill float-end' type='submit' value='Confirmar'>
                    </section>
                
                </section>
            </article>

        </form>
    </section>


{% endblock contenido %}