{% extends 'blog/base.html' %}

{% load static %}

{% block contenido %}

<article class="blog-post">
    <section class="col-auto d-none d-lg-block">
      <img src= {{ articulo.imagen.url }} class="img-fluid" alt="" />
    </section>

    <strong class="d-inline-block mb-2 mt-3 text-primary"><a href= {% url 'apps.blog:categoria' categoria_slug=articulo.categoria.slug %} >{{ articulo.categoria }}</a></strong>
    <h2 class="blog-post-title mb-1">{{ articulo.titulo }}</h2>
    <p class="blog-post-meta">{{ articulo.creacion|date:'d F Y'|capfirst }} por <a href= {% url 'apps.blog:autor' autor=articulo.autor%} >{{ articulo.autor }}</a></p>

    <p class="lead my-3">{{ articulo.bajada }}</p>
    <hr>
    <p>{{ articulo.contenido|safe }}</p>

    <hr>

    <strong>Etiquetas:</strong>
    {% for etiqueta in articulo.etiquetas.all %}
      <span class="badge text-bg-dark">{{etiqueta.nombre|upper}}</span>
    {% endfor %}
  </article>

  <section class="my-3 mt-5 mb-5">
    <a class="btn btn-dark rounded-pill" href={% url 'apps.blog:inicio' %}>Volver al Inicio</a>
    {% if request.user == articulo.autor or request.user.is_superuser or request.user.is_staff %}
      <section class='float-end'>
        <a class="btn btn-dark rounded-pill" href={% url 'apps.blog:actualizar_articulo' articulo_slug=articulo.slug %}>Editar</a>
        <a class="btn btn-dark rounded-pill" href={% url 'apps.blog:eliminar_articulo' articulo_slug=articulo.slug %}>Eliminar</a>
    </section>
    {% endif %} 
  </section>

  <!-- Comentarios -->
  {% block comentarios %}
 
    {% include 'blog/forms/crear_comentario.html' %}

  {% endblock comentarios %}

{% endblock contenido %}
